@import '@/styles/mixins/index.scss';
@import '@/styles/animation/index.scss';

$btn-prefix: #{$prefix}-center-popup;

.#{$btn-prefix} {
    --popup-z-index: calc(var(--z-index) + 10);
    --popup-bg-color: #fff;
    --popup-max-width: 75vw;
    --popup-min-width: 280px;
}

.#{$btn-prefix}-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: var(--popup-min-width);
    max-width: var(--popup-max-width);
    transform: translate(-50%,-50%);
    z-index: var(--popup-z-index);

    & > div {
        opacity: 1;
        transform: none;
    }
}

.#{$btn-prefix}-body {
    background-color: var(--popup-bg-color);
    border-radius: var(--border-radius);
}

.#{$btn-prefix}-close-icon {
    cursor: pointer;
    padding: 4px;
    font-size: 18px;
    line-height: 1;
    color: var(--weak-text-color);
    position: absolute;
    z-index: 100;
    right: 8px;
    top: 8px;
}
