@namespace BlazorMix
@inherits BmDomComponentBase


<div class="@ClsPrefix">
    <div class="@($"{ClsPrefix}-content")">
        @ChildContent
    </div>
</div>

@code {
    public const string ClsPrefix = "bm-auto-center";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
