@namespace BlazorMix
@inherits BmDomComponentBase

<button type="@Type"
        class="@_classBuilder.ToString() @Class?.ToString()"
        style="@Style?.ToString()"
        @onclick="@HandleClick">
        @if(Loading){
            <LoadingIcon />
        }else{
            @Icon
        }
        <span>
            @ChildContent
        </span>
</button>

