

$cls-prefix: #{$prefix}-btn;

@each $color, $value in $theme-colors {
    .#{$cls-prefix}-#{$color} {
        --btn-bg-color: #{$value};
        --btn-border-color: #{$value};

        @if $color == "light" {
            --btn-text-color: #000;
        }
        @else if $color == "dark" {
            --btn-text-color: #000;
        }
        @else {
            --btn-text-color: #fff;
        }

        &.#{$cls-prefix}-outline {
            --btn-text-color: #{$value};
            --btn-bg-color: transparent;
        }

        &.#{$cls-prefix}-none {
            --btn-text-color: #{$value};
            --btn-bg-color: transparent;
            --btn-border-width: 0px;
        }
    }
}

.#{$cls-prefix}-default {
    --btn-text-color: #{$themm-text-color};
    --btn-bg-color: #{$themm-bg-color};
    --btn-border-width: var(--border-width);
    --btn-border-style: var(--border-style);
    --btn-border-color: var(--border-color);
}

button {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-font-size: 1rem;
}

.#{$cls-prefix} {
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    border: var(--btn-border-width) var(--btn-border-style) var(--btn-border-color);
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    margin: 0;
    line-height: 1.4;
    text-align: center;
    cursor: pointer;
    transition: opacity .15s ease;
    font-size: var(--bs-btn-font-size);

    &:active:before {
        opacity: .08;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(calc(var(--btn-border-width)*-1),calc(var(--btn-border-width)*-1));
        width: 100%;
        height: 100%;
        background-color: #000;
        border: var(--btn-border-width) var(--btn-border-style) #000;
        opacity: 0;
        content: " ";
    }

    &.rounded-circle {
        width: 40px;
        height: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}


.#{$cls-prefix}-block {
    display: block;
    width: 100%;
}

.#{$cls-prefix}-disabled {
    cursor: not-allowed;
    opacity: .4;
}

.#{$cls-prefix}-xs {
    --bs-btn-padding-y: 0.125rem;
    --bs-btn-padding-x: 0.25rem;
    --bs-btn-font-size: 0.75rem;

    &.rounded-circle {
        width: 28px;
        height: 28px;
    }
}

.#{$cls-prefix}-sm {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.875rem;

    &.rounded-circle {
        width: 32px;
        height: 32px;
    }
}

/*.#{$cls-prefix}-md {
    
}*/

.#{$cls-prefix}-lg {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 1.125rem;

    &.rounded-circle {
        width: 44px;
        height: 44px;
    }
}

.#{$cls-prefix}-xl {
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 1.25rem;

    &.rounded-circle {
        width: 54px;
        height: 54px;
    }
}
