@import '@/styles/mixins/index.scss';
@import '@/styles/animation/index.scss';

$space-prefix: #{$prefix}-space;

.#{$space-prefix} {
    display: inline-flex;
    --space-gap: var(--gap);
    --space-gap-vertical: var(--space-gap);
    --space-gap-horizontal: var(--space-gap);

    &-vertical {
        flex-direction: column;

        > .#{$space-prefix}-item {
            margin-bottom: var(--space-gap-vertical);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-horizontal {
        flex-direction: row;


        > .#{$space-prefix}-item {
            margin-right: var(--space-gap-horizontal);

            &:last-child {
                margin-right: 0;
            }
        }

        &.#{$space-prefix}-wrap {
            flex-wrap: wrap;
            margin-bottom: calc(var(--space-gap-vertical) * -1);

            > .#{$space-prefix}-item {
                padding-bottom: var(--space-gap-vertical);
            }
        }
    }

    &.#{$space-prefix}-block {
        display: flex;
    }

    &-align {
        &-center {
            align-items: center;
        }

        &-start {
            align-items: flex-start;
        }

        &-end {
            align-items: flex-end;
        }

        &-baseline {
            align-items: baseline;
        }
    }

    &-justify {
        &-center {
            justify-content: center;
        }

        &-start {
            justify-content: flex-start;
        }

        &-end {
            justify-content: flex-end;
        }

        &-between {
            justify-content: space-between;
        }

        &-around {
            justify-content: space-around;
        }

        &-evenly {
            justify-content: space-evenly;
        }

        &-stretch {
            justify-content: stretch;
        }
    }
}
