@import '@/styles/mixins/index.scss';
@import '@/styles/animation/index.scss';

$btn-prefix: #{$prefix}-popup;

.#{$btn-prefix} {
    --popup-z-index: calc(var(--z-index) + 10);
    --popup-bg-color: #fff;
}

.#{$btn-prefix}-body {
    position: fixed;
    background-color: var(--popup-bg-color);
    z-index: var(--popup-z-index);
}

.#{$btn-prefix}-close-icon {
    cursor: pointer;
    padding: 4px;
    font-size: 18px;
    line-height: 1;
    color: var(--weak-text-color);
    position: absolute;
    z-index: 100;
}

.#{$btn-prefix}-body-position-bottom {
    height: 40vw;
    width: 100%;
    bottom: 0;
    left: 0;

    .#{$btn-prefix}-close-icon {
        right: 8px;
        top: 8px;
    }
}

.#{$btn-prefix}-body-position-top {
    height: 40vw;
    width: 100%;
    top: 0;
    left: 0;

    .#{$btn-prefix}-close-icon {
        right: 8px;
        bottom: 8px;
    }
}



.#{$btn-prefix}-body-position-left {
    width: 60vw;
    height: 100%;
    top: 0;
    left: 0;

    .#{$btn-prefix}-close-icon {
        right: 8px;
        top: 8px;
    }
}

.#{$btn-prefix}-body-position-right {
    width: 60vw;
    height: 100%;
    top: 0;
    right: 0;

    .#{$btn-prefix}-close-icon {
        left: 8px;
        top: 8px;
    }
}
