

$cls-prefix: #{$prefix}-popup;

.#{$cls-prefix} {
    --popup-z-index: calc(var(--z-index) + 10);
    --popup-bg-color: #fff;
}

.#{$cls-prefix}-body {
    position: fixed;
    background-color: var(--popup-bg-color);
    z-index: var(--popup-z-index);
}

.#{$cls-prefix}-close-icon {
    cursor: pointer;
    padding: 4px;
    font-size: 18px;
    line-height: 1;
    color: var(--color-weak-text);
    position: absolute;
    z-index: 100;
}

.#{$cls-prefix}-body-position-bottom {
    width: 100%;
    bottom: 0;
    left: 0;

    .#{$cls-prefix}-close-icon {
        right: 8px;
        top: 8px;
    }
}

.#{$cls-prefix}-body-position-top {
    height: 40vw;
    width: 100%;
    top: 0;
    left: 0;

    .#{$cls-prefix}-close-icon {
        right: 8px;
        bottom: 8px;
    }
}



.#{$cls-prefix}-body-position-left {
    height: 100%;
    top: 0;
    left: 0;

    .#{$cls-prefix}-close-icon {
        right: 8px;
        top: 8px;
    }
}

.#{$cls-prefix}-body-position-right {
    width: 60vw;
    height: 100%;
    top: 0;
    right: 0;

    .#{$cls-prefix}-close-icon {
        left: 8px;
        top: 8px;
    }
}
