@namespace BlazorMix
@inherits BmDomComponentBase


@if (_visible)
{
    <div class="@_classBuilder" style="@Style?.ToString()">
        @if (Icon != null)
        {
            <span class="@ClsPrefix-left">
                @Icon
            </span>
        }
        <span @ref="@_contentEleRef"  class="@ClsPrefix-content">
            <span class="@ClsPrefix-content-inner">
                @ChildContent
            </span>
        </span>
        @if (Closeable || Extra != null)
        {
            <span class="@ClsPrefix-right">
                @Extra
                @if (Closeable)
                {
                    <div class="@ClsPrefix-close" @onclick="@HandleClose">
                        @CloseIcon
                    </div>
                }
            </span>
        }

    </div>
}
