@namespace BlazorMix
@inherits MaskBase


@if (!_hasDestroyed)
{
    <div @ref="@_maskRef"
         class="@_classBuilder.ToString() @Class?.ToString()"
         style="@_styleBuilder.ToString() @Style?.ToString()"
        @onclick="HandleMaskClick"
        @onclick:preventDefault
        @onclick:stopPropagation>
        @if (ChildContent != null)
        {
            <div class="@PrefixCls-content">
                @ChildContent
            </div>
        }
    </div>
}

