.demo-block {
    box-sizing: border-box;
    margin-bottom: 12px;
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.block-title {
    padding: 12px 12px 8px;
    color: #697b8c;
    font-size: 14px;
}



.block-content {
    padding: 12px;
    background: #fff;
    border-right: none;
    border-left: none;
}
