@namespace BlazorMix
@inherits BmDomComponentBase

<div class="@_options.Class.ToString() @Class?.ToString()" 
     style="@_options.Style.ToString() @Style?.ToString()"
     @onclick="HandleClick"
     @onclick:preventDefault
     @onclick:stopPropagation
     >
    @ChildContent
</div>
