@using BlazorMix.Docs.Internal;
@inherits LayoutComponentBase

<div class="page">
    <LayoutHeader />
   
    <main>
        <div class="sidebar">
            <NavMenu />
        </div>

        <CascadingValue Value="EleRefWrapper" Name="TocRefWrapper" IsFixed="true">
            <div class="main-body">
                @Body
            </div>
        </CascadingValue>

        <div @ref="@EleRefWrapper.EleRef" class="docs-toc"></div>
    </main>
</div>
@code{
    private EleRefWrapper EleRefWrapper = new EleRefWrapper(); 
}

