@page "/"
@page "/guide/intro"

<div class="guide-page">
    <section>
        <h2>简介</h2>
        <p>
            BlazorMix 是移动端 Blazor 组件库.
        </p>
        <h2>Mix 来源</h2>
        <div>
            <p>BlazorMix 参考了多个移动端组件库，"混合"了多个组件，<b>Mix</b> 也因此而来。</p>
        </div>
    </section>
    <section>
        <h2>致谢</h2>
        <div>
            <p>
                在本组件及文档的构建过程中，参考的 React/Blazor 组件有：
            </p>
            <ul>
                <li>Ant Design Mobile</li>
                <li>Zarm Design</li>
                <li>Nut UI</li>
                <li>Tdesign Mobile</li>
                <li>TDesignBlazor</li>
                <li>Ant Design of Blazor</li>
                <li>MASA.Blazor</li>
                <li>Bootstrap</li>
            </ul>
        </div>
        <div>
            <p>
                其他技术/框架/组件：
            </p>
            <ul>
                <li>typescript</li>
                <li>scss</li>
                <li>vite</li>
                <li>prism.js</li>
                <li>IconPark.Blazor</li>
                <li>QRCoder</li>
            </ul>
        </div>
    </section>
</div>