@namespace BlazorMix
@inherits BmDomComponentBase

<div class="@_classBuilder.ToString() @Class?.ToString()"
     style="@Style?.ToString()">
    @if (ChildContent != null)
    {
        <div class="@ClsPrefix-content">
            @ChildContent
        </div>
    }
</div>

