
$cls-prefix: #{$prefix}-divider;

.#{$cls-prefix} {
    --divider-color: #eee;
    --divider-text-color: #999;

    color: var(--divider-text-color);

    &.#{$cls-prefix}-horizontal {
        display: flex;
        align-items: center;
        margin: 16px 0;
        border: 0 solid var(--divider-color);
        font-size: 14px;

        &:before,
        &:after {
            flex: auto;
            display: block;
            content: "";
            border-color: inherit;
            border-style: inherit;
            border-width: 1px 0 0;
        }

        &.#{$cls-prefix}-left {
            &:before {
                max-width: 10%;
            }
        }

        &.#{$cls-prefix}-right {
            &:after {
                max-width: 10%;
            }
        }
    }

    &.#{$cls-prefix}-vertical {
        position: relative;
        top: -0.06em;
        display: inline-block;
        height: 0.9em;
        margin: 0 16px;
        vertical-align: middle;
        border-top: 0;
        border-left: 1px solid var(--divider-color);
    }

    & > .#{$cls-prefix}-content {
        flex: none;
        padding: 0 16px;
    }
}