@namespace BlazorMix
@inherits BmDomComponentBase
<div class="@($"{Swiper.ClsPrefix}-slide")"
     style="@(GetMergedStyle())">
    <div class="@($"{ClsPrefix}")">
        @ChildContent
    </div>
</div>