$cls-prefix: #{$prefix}-action-sheet;

.#{$cls-prefix} {
    &-popup-body {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        overflow: hidden;
    }

    &-extra {
        display: flex;
        justify-content: center;
        color: var(--color-weak-text);
        font-size: 15px;
        padding: 18px 12px;
        border-bottom: 1px solid var(--border-color);
    }

    &-button-list {
        border-bottom: 1px solid var(--border-color);
    }

    &-button-item-wrapper {
        border-bottom: 1px solid var(--border-color);

        &:last-child {
            border-bottom: none;
        }
    }

    &-button-item {
        text-align: center;
        display: block;
        background-color: var(--color-main-background);
        padding: 16px;

        &:active {
            background-color: #eeeeee;
        }

        &-disabled {
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.4;
        }

        &-name {
            color: var(--color-gray-dark);
            font-size: 18px;
        }

        &-description {
            font-size: 14px;
            color: var(--color-weak-text);
            padding-top: 4px;
        }

        &-danger {
            .#{$cls-prefix}-button-item-name {
                color: var(--danger);
            }
        }

        &-bold {
            .#{$cls-prefix}-button-item-name {
                font-weight: bold;
            }
        }
    }

    &-cancel {
        background-color: var(--color-box);
        padding-top: 8px;
    }
}