
$cls-prefix: #{$prefix}-water-mark;


.#{$cls-prefix} {
    position: absolute;
    z-index: 2000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    background-repeat: repeat;

    &-full-page {
        position: fixed;
    }
}
